<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <worldline_cc>
                <model>Worldline\CreditCard\Model\Method\Adapter\Virtual</model>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allowspecific>0</allowspecific>
                <title>Credit Card (Worldline Online Payments)</title>
                <payment_action>authorize_capture</payment_action>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <cc_types>americanexpress,cartebancaire,dinersclub,jcb,maestro,mastercard,visa</cc_types>
                <debug>0</debug>
                <template_id>HTPTemplate11_Full.html</template_id>
                <authorization_mode>final</authorization_mode>
                <order_status>processing</order_status>
                <countries_all>all</countries_all>
                <can_sale>1</can_sale>
                <vault>1</vault>
                <skip_3d>0</skip_3d>
                <group>worldline_group</group>
            </worldline_cc>
            <worldline_cc_vault>
                <model>Worldline\CreditCard\Model\Method\Vault\CCVault\Virtual</model>
                <active>0</active>
                <title>Stored Cards (Worldline Online Payments)</title>
                <group>worldline_group</group>
            </worldline_cc_vault>
            <worldline_hosted_checkout>
                <model>Worldline\HostedCheckout\Model\Method\Adapter\Virtual</model>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allowspecific>0</allowspecific>
                <title>Pay with Additional Payment Methods by Worldline</title>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <sort_order>20</sort_order>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending</order_status>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_sale>1</can_sale>
                <vault>1</vault>
                <authorization_mode>final</authorization_mode>
                <group>worldline_group</group>
                <cart_lines>1</cart_lines>
                <skip_3d>0</skip_3d>
                <direct_debit_recurrence_type>UNIQUE</direct_debit_recurrence_type>
                <direct_debit_signature_type>SMS</direct_debit_signature_type>
            </worldline_hosted_checkout>
            <worldline_hosted_checkout_vault>
                <model>Worldline\HostedCheckout\Model\Method\Vault\CCVault\Virtual</model>
                <active>1</active>
                <title>Stored Cards (Worldline Online Payments)</title>
                <group>worldline_group</group>
            </worldline_hosted_checkout_vault>
        </payment>
        <worldline_connection>
            <connection>
                <environment_mode>0</environment_mode>
                <production_api_url>https://payment.direct.worldline-solutions.com</production_api_url>
                <testing_api_url>https://payment.preprod.direct.worldline-solutions.com</testing_api_url>
            </connection>
        </worldline_connection>
        <worldline_order_status_updater>
            <general>
                <fallback_timeout>10</fallback_timeout>
                <fallback_timeout_limit>3</fallback_timeout_limit>
                <cron_expr>*/5 * * * *</cron_expr>
            </general>
            <abandoned_orders>
                <waiting_time>180</waiting_time>
                <cron_expr>* * * * *</cron_expr>
            </abandoned_orders>
        </worldline_order_status_updater>
        <worldline_debug>
            <general>
                <logging_lifetime>14</logging_lifetime>
            </general>
        </worldline_debug>
    </default>
</config>
